.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", links_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_link_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Links
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.link.href", :default => t("activerecord.labels.href", :default => "Href"))
          %th
            = "Position"
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @links.each do |link|
          %tr{:class => cycle("odd", "even")}
            %td
              = link.id
            %td
              = link_to link.href, link_path(link)
            %td
              = link.position
            %td
              = link.created_at
            %td.last
              = link_to("#{t("web-app-theme.move_up", :default => "Move up")}", move_up_link_path(link)) unless link.is_top?

              = link_to("#{t("web-app-theme.move_up", :default => "Move Down")}", move_down_link_path(link)) unless link.is_bottom?
              |
              = link_to "#{t("web-app-theme.show", :default => "Show")}", link_path(link)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_link_path(link)}
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", link_path(link), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions

